services:
  nginx:
    image: nginx:latest
    ports:
      - "8000:8000"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - front
      - backend
    networks:
      - internal
  front:
    build: ./frontend
    # ports:
    #   - "3000:3000"
    networks:
      - internal
  backend:
    build: ./backend
    # ports:
    #   - "8000:8000"
    depends_on:
      - db
    networks:
      - internal
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    networks:
      - internal

networks:
  internal: